* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
    height: auto;
}
header {
  width: 90%;
  max-width: 1200px;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
header .logo-container {
  flex: 1;
  display: flex;
}
header .logo-container h4 {
  font-weight: 400;
  margin: 5px;
}
header .menu {
  flex: 2;
}
header .menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .menu li {
  list-style: none;
}
header .menu li a {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}
@media (width <= 768px) {
    header .menu li a {
        font-size: 14px;
    }
}
header .cart {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.presentacion {
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}
@media (width <= 767px) {
    .presentacion  {
        flex-wrap: wrap;
        display: block;
    }
}
.presentacion .main-text {
  flex: 1;
  padding: 50px 0px 0px 0px;
}
@media (width <= 768px) {
    .presentacion .main-text {
        text-align: center;
    }
}
.presentacion .main-text .intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentacion .main-text .intro-text p {
    font-size: 20px;
}
.presentacion .botones {
    padding: 50px 0px 0px 0px;
}
.presentacion .botones .b-letf {
    background: #c36cbb;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}
.presentacion .botones .b-right {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
}
.presentacion .cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}
  .presentacion .cover img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}
@media (width <= 768px) {
    .presentacion .main-text .intro-text h1 {
        font-size: 28px;
    }
    .presentacion .main-text .intro-text p {
        font-size: 14px;
        color: #585772;
    }
    .presentacion .botones .b-letf {
        width: 120px;
        margin-top: 0;
    }
    .presentacion .botones {
        padding-top: 25px;
    }
    .presentacion .botones .b-right {
        width: 105px;
        height: 35px;
    }
    .presentacion .botones .b-letf {
        width: 105px;
        height: 35px;
    }
    .presentacion .cover img {
        height: 90%;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .presentacion .cover img {
    height: 80%;
  }
}
.btn {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}
@media only screen and (max-device-width: 768px) {
  .btn {
    bottom: 5%;
    right: 28%;
    width: 30%;
    transform: translate(50%, 5%);
  }
}
@media only screen and (max-device-width: 375px) {
  .btn {
    height: 10vh;
    bottom: 100px;
  }
}
@media only screen and (max-device-width: 360px) {
  .btn {
    bottom: 10px;
  }
}
@media (width <= 429px) {
    .btn {
        bottom: -15%;
        right: 50%;
        padding-top: 1rem;
    }
} 
.big {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}
@media only screen and (max-device-width: 375px) {
  .big {
    height: 70%;
    display: none;
  }
}
.medium {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
@media only screen and (max-device-width: 375px) {
  .medium {
    display: none;
  }
}
.small {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}
@media only screen and (max-device-width: 375px) {
  .small {
    display: none;
  }
}